.bg-darkblue {
  background-color: #100e2b;
}
.bg-paste {
  background-color: #009f9d;
}
.bg-pink {
  background-color: #b9198e;
}

.text-paste {
  color: #009f9d;
}
.text-pink {
  color: #b9198e;
}
.text-lightwhite {
  color: #f4f0f0;
}
